
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    <div class="Admins-container" style="height: 70%; width: 80%; margin: 0 auto; background-color: #0042f336; border: none; padding: 20px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);">
        <h2 style="color: #fff; text-align: center; font-family: Arial, sans-serif;">Welcome, Customer!</h2>

        <div class='Admin-action' style="text-align: center;">

            <ul style="padding: 0;">
                <button style="padding: 8px; background-color: #ccc; color: #fff; border: none; cursor: pointer;">
                <li style="color: #fff; margin-bottom: 5px;">@Html.ActionLink("View Product List", "Index", "Product")</li>
                </button>
                </ul>
        </div>
        </div>


