
@{
    ViewBag.Title = "Index";
}

<div>
    <p>What would you like to view?</p>
    <ul>
        <li>@Html.ActionLink("View Product List", "Index", "Product")</li>
        <li>@Html.ActionLink("View Vendor List", "Index", "Vendor")</li>
    </ul>
</div>

